/*ble*/

*.ble { 
	position: absolute;
	top: 0px;
	left: 0px;
  margin: 0px;
  padding: 0px;
  width: 75px;
  height: 60px;
	background: url('../assets/ble/bleOn.svg')  no-repeat center center;
}

*.ble.off {
	background: url('../assets/ble/bleOff.svg')  no-repeat center center;
}

*.ble.on {
	background: url('../assets/ble/bleOn.svg')  no-repeat center center;
}

@-webkit-keyframes blePulsate {
  from {background: url('../assets/ble/bleOff.svg')  no-repeat center center;}
  50% {fill: url('../assets/ble/bleOn.svg')  no-repeat  center center; }
  to {fill: url('../assets/ble/bleOff.svg')  no-repeat center center; }
}
	
*.ble.connecting {
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: blePulsate;
}

*.ble.ok {
	background: url('../assets/ble/bleOK.svg')  no-repeat center center;
}

*.ble.failed {
	background: url('../assets/ble/bleFailed.svg')  no-repeat center center;
}

*.ble.download {
	margin-left: 70px;
	width: 32px;
	height: 64px;
	-webkit-animation: downloadAnimation 0.5s infinite ease-in-out;
	-webkit-transform-origin: center;
}

@-webkit-keyframes downloadAnimation {
  from {background:  url('../assets/ble/download0.svg')  no-repeat center center; }
  5% {background: url('../assets/ble/download1.svg')  no-repeat center center; }
  25% {background: url('../assets/ble/download2.svg')  no-repeat center center; }
  45% {background: url('../assets/ble/download3.svg')  no-repeat center center; }
  65% {background: url('../assets/ble/download2.svg')  no-repeat center center; }
  85% {background: url('../assets/ble/download1.svg')  no-repeat center center; } 
  to {background: url('../assets/ble/download0.svg')  no-repeat center center; }
}

*.fwlabel {
	position: relative;
	display: inline-block;
  top: 0;
  left: 0;
  margin: 0;
	height: 14px;
}

*.fwlabel.editor {
	position: absolute;
	top: 55px;
	left: 365px;
}

*.smalltext{
	position: absolute;
  margin: 0px;
	padding: 0px;
	padding-left: 16px;
	top: 0px;
	left: 0px;
	height: 48px;
	color: #EEFDFF;
	text-align: left;
  vertical-align: center;
  font-family:  'Lucida Grande', 'Verdana', 'Arial', 'DejaVu Sans';
  font-size:  10px;
  font-weight: normal;
  line-height: 12px;
	width: 100%;
}

*.smalltext.blue {color: #3BB2F7;}
